* {padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}

header .right{
    float: right;
    padding: 20px 0px;   
}
header .left h6{
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
font-family: 'Changa', sans-serif;
}
.left a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    letter-spacing: 1px;
}
.left a:hover{
    color: red;
}
.mycol{
   background-color: rgb(29,185,221);
}
.mycol span a{
    text-decoration: none;
    color: black;
}
 div .fx{
    font-size: 12px;
     letter-spacing: 1px;
}
.mycol span a:hover{
    color: red;
}
.con p,span ,h1{
    text-align: center;
    font-size: 27px;
    padding: 0px;
}
.con a{
    color: rgb(29,185,221);
    text-decoration: none;
}
div .card-text{
    text-align: right;
}
footer p{
    font-size: 12px;
}
